#headerImg {
  background-color: rgba(0, 121, 211, 1);
  background-image: url("./assets/images/headerImg.svg");
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -12rem;
  background-attachment: fixed;
  height: 10rem;
}

body {
  background-color: whitesmoke;
}